<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finance</title>
  <style>
    body{
      background-color: lightgreen;
    }

    .container{
      text-align: center;
    }
  </style>
</head>
<body>
  <h1 style="text-align: center;">Welcome to the Finance app</h1>

  <div class="container">
    <h2>Here you can track your expenses and income</h2>
    <p>As well as track your progress</p>
  </div>
</body>
</html>